<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Onetech B.S</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <div class="app-container">
  <!-- Sidebar -->
  <div class="vertical-sidebar">
    <div class="sidebar-header">
      <img src="assets/OTBS.jpg" alt="Logo" />
    </div>
     <ul class="sidebar-nav">
      <li>
        <a routerLink="/dashA" >
          <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/tab" routerLinkActive="active">
          <i class="fas fa-table"></i> Employees
        </a>
      </li>
      <li>
        <a routerLink="/liste" routerLinkActive="active">
          <i class="fas fa-users"></i> Congés
        </a>
      </li>
     
      <li>
        <a routerLink="/listP" routerLinkActive="active">
          <i class="fas fa-project-diagram"></i> Projects
        </a>
      </li>
       <li>
        <a routerLink="/project" routerLinkActive="active">
          <i class="fas fa-project-diagram"></i> Tâches
        </a>
      </li>
    </ul>
    <div class="logout-section">
      <a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
  </div>

  <!-- Formulaire de mise à jour -->
  <div class="form-container">
    <h2>Modifier Congé</h2>
 <form *ngIf="conge" (ngSubmit)="onUpdate()" #employeeForm="ngForm">

      <div class="form-group">
        <label for="empCode">Code Employé</label>
        <input
          type="text"
          id="empCode"
          name="empCode"
          [(ngModel)]="conge.empCode"
          required
          readonly
        />
      </div>

      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input
          type="text"
          id="firstname"
          name="firstname"
          [(ngModel)]="conge.firstname"
          required
        />
      </div>

      <div class="form-group">
        <label for="start">start date</label>
        <input
          type="date"
          id="start"
          name="start"
          [(ngModel)]="conge.start"
          required
        />
      </div>

      <div class="form-group">
        <label for="end">fin date</label>
        <input
          type="date"
          id="end"
          name="end"
          [(ngModel)]="conge.end"
          required
        />
      </div>

       <div class="form-group">
        <label for="reason">Raison</label>
        <input
          type="text"
          id="reason"
          name="reason"
          [(ngModel)]="conge.reason"
          required
        />
      </div>

      <div class="form-group">
        <label for="day">Nombre de jour</label>
        <input
          type="text"
          id="day"
          name="day"
          [(ngModel)]="conge.day"
          required
        />
      </div>

      <div class="form-group">
        <label for="paycode">paycode</label>
       <select id="paycode" name="paycode" [(ngModel)]="conge.paycode" required>
  <option value="" disabled>Choisir un paycode</option>
  <option *ngFor="let dept of paycode" [value]="dept.name">
    {{ dept.name }}
  </option>
</select>


      </div>

   <div class="form-group">
        <label for="source">source</label>
        <input
          type="text"
          id="source"
          name="source"
          [(ngModel)]="conge.source"
          required
          readonly
        />
      </div>


 <button type="submit" class="btn-ajouter" [disabled]="!employeeForm.form.valid">Modifier</button>
    </form>
  </div>
</div>
    </body></html>